{% from "celery/defaults.yaml" import lookup_map, default_config as dc with context %}

{% set _grains = salt['grains.get']('celery:lookup', {}) %}
{% set _pillar = salt['pillar.get']('celery:lookup', _grains, merge=True) %}

{% set celery = salt['grains.filter_by'](lookup_map, merge=_pillar, base='default')  %}

{% set config = salt['pillar.get']('celery:config', dc, merge=True) %}

{% do celery.update({'config': config}) %}
