celery:
  lookup:
    log_dir: /var/log/celery
    broker: redis

  worker_queues:
    - name: 'notfast'
      opts: {batch_size: 5}

    - name: 'superfast'
      opts: {batch_size: 100, prefetch_multiplier: 10}
      concurrency: 10

  config:
    worker:
      concurrency: 2
      
    broker:
      url: 'redis://localhost:6379/0'
    
    imports: ['pprint.pprint', 'copy.copy']
    enable_utc: true
    timezone: 'UTC'
    result_backend: 'redis://localhost:6379/1'

