
# Managed by Saltstack, changes will be lost
{% from "celery/map.jinja" import celery with context %}
ENABLED="true"
CELERY_CONFIG_MODULE="{{ config_module }}"

CELERYD_USER="{{ celery.user }}"
CELERYD_GROUP="{{ celery.user }}"

CELERYD_PID_FILE="{{ run_dir  }}/{{ celery.service }}-%n.pid"
CELERYD_LOG_FILE="{{ log_dir }}/{{ celery.service }}-%n%I.log"
CELERYD_LOG_LEVEL="{{ log_level }}"
CELERYD_STATE_FILE="{{ run_dir }}/{{ celery.service }}/%n.state"
CELERYD_CHDIR="{{ working_dir }}"
CELERYD_CREATE_DIRS=1
CELERY_CREATE_RUNDIR=1
CELERY_CREATE_LOGDIR=1
CELERYD_MULTI="multi"
CELERYD_NODES="{{ queue_names|join(' ') }}"
{% if celeryd_opts is defined -%}
CELERYD_OPTS="{{ celeryd_opts }}"
{% else -%}
CELERYD_OPTS=""
{% endif %}

CELERY_BIN="{{ prefix }}/bin/celery"

