#!jinja
# This file is managed by Saltstack, any changes will be overwritten!!
{% from "celery/map.jinja" import celery with context -%}
{% set prefix = celery.prefix -%}
{% if celery.bin_env != '/usr' -%}
{% set prefix = celery.bin_env -%}
{% endif %}

{% set cmd = "%s/bin/celery" % prefix -%}
{% set FLAGS = [
  "--pidfile=${CELERYD_PID_FILE} "
  "--loglevel=${CELERYD_LOG_LEVEL} ",
  "--logfile=${CELERYD_LOG_FILE} ",
  "--statedb=${CELERYD_STATE_FILE} "
  ]|join(" ") -%}

[Unit]
Description=Celery Worker Daemon - {{ service_name|upper|replace("-", "_") }}
After=network.target

[Service]
Type=forking
User={{ user|default('celery') }}
Group={{ user|default('celery')  }}
EnvironmentFile=/etc/default/{{ service_name }}
WorkingDirectory={{ working_dir }}
ExecStart=/bin/sh -c '{{ cmd }} multi start {{ celery.total_workers }} {{ FLAGS }} ${CELERYD_OPTS}'
ExecStop=/bin/sh -c '{{ cmd }} multi stopwait {{ celery.total_workers }} {{ FLAGS }} ${CELERYD_OPTS}'
ExecReload=/bin/sh -c '{{ cmd }} multi restart {{ celery.total_workers }} {{ FLAGS }} ${CELERYD_OPTS}'

[Install]
WantedBy=multi-user.target
