#!/usr/bin/env python
# This file is managed by Saltstack, any changes will be overwritten
#
{% from "celery/map.jinja" import celery with context -%}
{% from "celery/macros.sls" import render_config,displayer with context -%}

{% for section, data in celery.config.items() %}
{{ render_config(section, data) }}
{% endfor %}
